body {
	background: url("../img/concrete_wall.png") repeat;
	color: #fff;
}

header {
	background: url("../img/daruma_blur.jpg") no-repeat;
	

}

.maru-logo {
	width:25%;
	margin:50px;
}

ul {
list-style: none;
}

.top  {
	font-size: 3em;

	}

a {
	text-decoration: none;
	color: #ffe;
}

a:hover {
	color:purple;
	}
/*MAIN NAV STYLINGS*/

aside, h4{
	background: #000;
	display:block;
}
nav {
	background: #000;
}
 
nav#main-nav {
	padding: 10px 10px 15px 10px;
	display:block;
	position:relative;
	z-index:100;
}

i.leaf.icon {
	color:#ADFF2F;
}

.types {
	text-align: right;
	font-size: 1.15em;
	padding-top:10px;
}

h3 { margin: 10px 0;}

h4 {
	text-align: center;
	padding: 15px 0;
}

p {
	padding-bottom: 2rem;
	padding-top: .75rem;
}
section ul li {
	padding-left: 0; 
}

