body {
	background: url("../img/concrete_wall.png") repeat;
	color: #fff;
	font-family: 'Nunito', sans-serif;
}

header {
	background: url("../img/daruma_blur.jpg") no-repeat;
	

}

.maru-logo {
	width:25%;
	margin:50px;
}

ul {
list-style: none;
padding-bottom:10px;
}

.yellow ul {
	background: gold;
}

.blue ul {
	background: cornflowerblue;
}

.red ul {
	background: #8B0000;
}

.green ul {
	background: #77B862;
}

div.row.four.wide.floated.right  {
	font-size: 2em;
	padding-bottom:20px;
	padding-top: 5px;
	position:relative;
	float:right;

	}

a {
	text-decoration: none;
	color: #ffe;
}

a:hover {
	color:firebrick;
	}

/*MAIN NAV STYLINGS*/

aside, h4{
	background: #000;
	display:block;
}
nav {
	background: #000;
}
 
nav#main-nav {
	padding: 10px 10px 15px 10px;
	display:block;
	position:relative;
	z-index:100;
}



i.leaf.icon {
	color:#ADFF2F;
}

.types {
	text-align: right;
	font-size: 1.15em;
	padding-top:10px;
}




h3 { margin: 10px 0;
	font-family: 'Nunito', sans-serif;
}

h4 {
	text-align: center;
	padding: 15px 0;
}

p {
	padding-bottom: 2rem;
	padding-top: .75rem;
}
section ul li {
	padding-left: 0; 
}


footer span {
    word-spacing: 1vw;
}

.ui.grid>.row>.yellow.column, 
.ui.grid>.row>.blue.column,
.ui.grid>.row>.red.column,
.ui.grid>.row>.green.column{
	margin-bottom:14px;
}
aside.ui.column.sixteen.wide.fluid {
	padding:0 0 0 0;
}


/*BREAK POINTS*/

/*MOBILE*/
@media  (max-width: 767px) {
	.types {
		width: 100%;
		padding-left:0;

			
	}
	.types a {
		font: 1em;
		pointer-events: none;
       cursor: default;

	}
	 
	header.ui.column.sixteen.wide.fluid {
		height:120px;
		}

	img.maru-logo {
		position:absolute;
		padding:5px 2px 0 2px;
		margin:3px 3px ;
	}
	#main-nav i.icon  {

		font-size: 1em;
	}

	ul {
	list-style: none;
	padding-bottom:5px;
	width:90%;
	margin: 0 auto ;
}

	aside.ui.column.sixteen.wide.fluid {
	padding:0 0 0 0;
	height:30px;
}

}



/*TABLET
@media  (min-width: 768px) {

	
}


/*DESKTOP
@media  (min-width: 992px) {

	
}*/
